body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: rgb(231, 238, 238);
  text-align: center;
}

#tribute-info {
  width: 500px;
  text-align: start;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info h3 {
  text-align: center;
}
